<%= form_for @training do |f| %>
  <h2 id="form-title">&nbsp;</h2>
  <%= hidden_field_tag :training_type, "", id: "training-type-input" %>
  <div class="form-group">
    <div>
      <%= f.label :number_attendees, "# of Attendees", class: "action-form-label" %>
      <%= f.text_field :number_attendees, class: "form-control action-form-input clearable"%>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.submit "Submit Section", class: "btn action-submit-btn"%>
      <%= link_to 'Cancel', trainings_path, class: "btn btn-danger"%>
    </div>
    <p class="warning">Cannot undo this action</p>
  </div>
<% end %>