<div class="container-fluid">
  <div class="nav col-md-12 action-form">
    <div class="nav flex-column nav-pills col-md-5 col-lg-4 col-xl-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <% @types.each do |type| %>
        <a class="nav-link action-btn-active" id="v-pills-home-tab" data-toggle="pill"
          href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false"><%= type %></a>
      <% end %>
    </div>
    <div class="tab-content col-md-6 action-form-content">
      <div class="tab-pane fade show active" id="tab-container" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="report-form-body" id="hide-when-type-selected">
          <div class="default-tab-text">Form will appear here</div>
        </div>
        <div class="report-form-body" id="hide-until-type-selected">
          <%= form_for @training do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :training_type, "", id: "training-type-input" %>
            <div class="form-group">
              <div>
                <%= f.label :number_attendees, "# of Attendees", class: "action-form-label" %>
                <%= f.text_field :number_attendees, class: "form-control action-form-input"%>
              </div>
            </div>
            <div class="form-group">
              <div>
                <%= f.submit "Submit Section", class: "btn action-submit-btn"%>
              </div>
              <p class="warning">Cannot undo this action</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
(() => {
  const navLinks = document.getElementsByClassName('nav-link');

  for(const navLink of navLinks) {
    navLink.addEventListener('click', e => {
      document.getElementById('training-type-input').value = e.target.textContent;

      for(const navLinkToModify of navLinks) {
        navLinkToModify.classList.remove('active');
        navLink.setAttribute('aria-selected', false);
      }

      navLink.classList.add('active');
      navLink.setAttribute('aria-selected', true);

      document.getElementById('hide-until-type-selected').style.display = 'block';
      document.getElementById('tab-container').style.display = 'block';
      document.getElementById('hide-when-type-selected').style.display = 'none';
    });
  }
  
})();
</script>
