<div class="container-fluid">
  <div class="content">
    <div class="text-left col-md-8 show-on-mobile" style="margin-bottom: 20px">
      <%= link_to forms_index_path, :action => 'go', :class => "test-cancel-street-swarm" do %>
        < Back to Report Entry Menu
      <% end %>
    </div>
    <%= render 'layouts/messages', flash: flash %>
    <%= render 'forms/form_header', title: 'Trainings',
               subtitle: 'Click on tabs below to complete a form <strong>for each instance</strong> of a ‘Training’ your chapter completed this week.'.html_safe %>
    <%= render "forms/form", training: @training do |f| %>
      <%= render 'trainings/form_body' %>
    <% end %>
    <%= render "forms/form_footer", title: "Training" %>
  </div>
</div>
