<div class="default-background">
  <%= render 'layouts/messages', flash: flash %>
  <%= render 'forms/form_header', title: 'Trainings', subtitle: 'Subtitle Copy Needed' %>
  <%= render "forms/form", training: @training do |f| %>
    <%= render 'trainings/form_body' %>
  <% end %>
  <%= render "forms/form_footer", title: "Training" %>
</div>
