<%= form_for @mobilization do |f| %>
    <h2 id="form-title">&nbsp;</h2>
    <%= hidden_field_tag :mobilization_type , "", id: "training-type-input" %>
    <%= hidden_field_tag :report_date %>
    <div class="form-group">
        <div>
            <%= f.label :event_type, "Event Type *", class: "action-form-label" %><br/>
            <%= f.collection_radio_buttons :event_type, TypeMobilization.types, :first, :second do |b| %>
                <%- b.label(class: "radio-inline action-form-option-button") {b.radio_button + " "+ b.label } %>
            <% end %>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :participants, "Number of People Engaged *", class: "action-form-label" %>
            <%= f.text_field :participants, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :new_members_sign_ons, "Number of New Member Sign Ons *", class: "action-form-label" %>
            <%= f.text_field :new_members_sign_ons, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :total_one_time_donations, "$ Total Donor Subscriptions *", class: "action-form-label" %>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <%= f.text_field :total_one_time_donations, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :donation_subscriptions, "Number of Donor Subscriptions *", class: "action-form-label" %>
            <%= f.text_field :donation_subscriptions, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :arrestable_pledges, "Number of Arrestable Pledges *", class: "action-form-label" %>
            <%= f.text_field :arrestable_pledges, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :newsletter_sign_ups, "Number of Newsletter Sign Ups *", class: "action-form-label" %>
            <%= f.text_field :newsletter_sign_ups, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.submit "Submit Section", class: "btn action-submit-btn"%>
            <%= link_to 'Cancel', mobilizations_path, class: "btn btn-danger"%>
        </div>
        <p class="warning">Cannot undo this action</p>
    </div>
<% end %>


<script>
    var localTime = new Date();
    $('#report_date').val(localTime)
</script>
