<div class="default-background">
    <%= render 'layouts/messages', flash: flash %>
    <%= render 'forms/form_header', title: 'Growth Activities',
               subtitle: 'Click on tabs below to complete a form <strong>for each instance</strong> of a ‘Growth Activity’ your chapter completed this week.'.html_safe %>
    <%= render "forms/form", mobilization: @mobilization do |f| %>
        <%= render 'mobilizations/form_body' %>
    <% end %>
    <%= render "forms/form_footer", title: 'Mobilizations' %>
</div>