<div class="default-background">
    <%= render 'layouts/messages', flash: flash %>
    <%= render 'forms/form_header', title: 'Growth Activities',
               subtitle: 'Click on tabs below to complete a form <strong>for each instance</strong> of a ‘Growth Activity’ your chapter completed this week.'.html_safe %>
    <%= render "forms/form", mobilization: @mobilization, social_media_blitzing: @social_media_blitzing do |f| %>
      <div class="report-form-body" id="mobilization-form-body">
        <%= render 'mobilizations/form_body' %>
      </div>
      <div class="report-form-body" id="blitz-form-body">
        <%= render 'social_media_blitzings/form_body' %>
      </div>
    <% end %>
    <%= render "forms/form_footer", title: 'Mobilizations' %>
</div>