<div class="container-fluid">
  <div class="content">
    <div class="text-left col-md-8 show-on-mobile" style="margin-bottom: 20px">
      <%= link_to forms_index_path, :action => 'go', :class => "test-cancel-street-swarm" do %>
        < Back to Report Entry Menu
      <% end %>
    </div>
    <%= render 'layouts/messages', flash: flash %>
    <%= render 'forms/form_header', title: 'Actions', subtitle: 'Click on tabs below to complete a form <strong>for each instance</strong> of an ‘Action’ your chapter completed this week.'.html_safe %>
    <%= render "forms/form", arrestable_action: @arrestable_action, street_swarm: @street_swarm do |f| %>
      <div class="report-form-body" id="arrestable-form-body">
        <%= render 'arrestable_actions/form_body' %>
      </div>
      <div class="report-form-body" id="swarm-form-body">
        <%= render 'street_swarms/form_body' %>
      </div>
    <% end %>
    <%= render "forms/form_footer", title: 'Arrestable Actions' %>
  </div>
</div>
