<%= form_for @social_media_blitzing do |f| %>
    <%= hidden_field_tag :social_media_blitzing_type , "", id: "blitz-type-input" %>
  <%= hidden_field_tag :report_date, "", id: "blitz-report-date"%>
    <div class="form-group">
        <div>
            <%= f.label :number_of_posts, "Number of social media posts *", class: "action-form-label" %>
            <%= f.text_field :number_of_posts, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :number_of_people_posting, "Number of people posting to social media *", class: "action-form-label" %>
            <%= f.text_field :number_of_people_posting, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.submit "Submit Section", class: "btn action-submit-btn"%>
            <%= link_to 'Cancel', arrestable_actions_path, class: "btn btn-danger"%>
        </div>
        <p class="warning">Cannot undo this action</p>
    </div>

<% end %>
<script>
    var localTime = new Date();
    $('#blitz-report-date').val(localTime)
</script>
