<p style="font-size: 14px; font-weight: 500; letter-spacing: 1.05px; color: #000000;">
    <strong>Welcome to  'Metrics for Mobilizers', <%= @user.email %></strong>
</p>

<p  style="font-size: 12px; letter-spacing: 0.9px; color: #000000; padding-bottom: 10px;">
    You have successfully been added to <strong>reporting.organise.earth</strong><br/>
    <% if @user.role == "reviewer" %>
        You are categorized as a <%= Role.roles[@user.role] %>
    <% else %>
        You are categorized as an <%= Role.roles[@user.role] %>
    <% end %>
</p>
<% if @user.role == "admin" %>
    <p style="font-size: 12px; letter-spacing: 0.9px; color: #000000;">
        You can now create users and chapters and view reports.
    </p>
<% end %>
<% if @user.role == "external" %>
    <p style="font-size: 12px; letter-spacing: 0.9px; color: #000000; padding-bottom: 10px;">
        You can now enter your weekly reports and see the results of the movement.<br/>
        You belong to <%= @user.chapter.name %> chapter
        <% if @user.chapter.has_address? %>
             located in <%= @user.chapter.address.city %>, <%= @user.chapter.address.state_province %>, <%= @user.chapter.address.country %>.
        <% end %>
    </p>
<% end %>
<% if @user.role == "reviewer" %>
    <p style="font-size: 12px; letter-spacing: 0.9px; color: #000000;">
        You can now view reports.
    </p>
<% end %>

<p style="font-size: 12px; letter-spacing: 0.9px; color: #4a90e2;">
    <%= link_to 'Accept Invitation', @user.invitation_link%>
</p>

<p style="font-size: 12px; letter-spacing: 0.9px; color: #000000; padding-bottom: 25px;">
    Do not reply to this email.
</p>