<div class="default-background">
  <%= render 'layouts/messages', flash: flash %>
  <div class="admin-page container">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 outer-box">
        <div class="left-nav">
          <h2>Navigation</h2>
          <a class="left-nav-item selected" id="users-nav-link">
            <div class="left-nav-icon extra-padding"><span class="fa fa-user"></span></div>
            <div class="left-nav-text">User</div>
          </a>
          <a class="left-nav-item" id="chapters-nav-link">
            <div class="left-nav-icon"><span class="fa fa-users"></span></div>
            <div class="left-nav-text">Chapter</div>
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 outer-box">
        <div class="content">
          <div class="content-top-row">
            <a id="link-chapters" href="<%= new_chapter_path %>"><span class="fa fa-plus-square-o"></span></a>
            <a id="link-users" href="<%= new_user_path %>"><span class="fa fa-plus-square-o"></span></a>
          </div>
          <div class="content-container container">
            <div id="content-chapters">
              <div class="content-header row">
                <div class="column col-4">Name</div>
                <div class="column col-2">Country</div>
                <div class="column col-2">State</div>
                <div class="column col-1">ZIP</div>
                <div class="column col-2">Created</div>
                <div class="column col-1"></div>
              </div>
              <div class="content-row-container">
                <% @chapters.each do |chapter| %>
                  <div class="content-row row">
                    <div class="column col-4"><%= chapter.name %></div>
                    <div class="column col-2"><%= !chapter.address.nil? ? chapter.address.country : "N/A" %></div>
                    <div class="column col-2"><%= !chapter.address.nil? ? chapter.address.state_province : "N/A" %></div>
                    <div class="column col-1"><%= !chapter.address.nil? ? chapter.address.zip_code : "N/A" %></div>
                    <div class="column col-2"><%= chapter.created_at.strftime("%m/%d/%Y") %></div>
                    <div class="column col-1"><a href="<%= edit_chapter_path chapter.id %>"><span class="fa fa-pencil"></span></a></div>
                  </div>
                <% end %>
              </div>
            </div>

            <div id="content-users">
              <div class="content-header row">
                <div class="column col-4">Name</div>
                <div class="column col-3">Chapter</div>
                <div class="column col-2">Role</div>
                <div class="column col-2">Created</div>
                <div class="column col-1"></div>
              </div>

              <div class="content-row-container">
                <% @users.each do |user| %>
                  <div class="content-row row">
                    <div class="column col-4"><%= user.first_name %> <%= user.last_name %></div>
                    <div class="column col-3"><%= user.chapter.nil? ? "N/A" : user.chapter.name  %></div>
                    <% if user.external_coordinator? %>
                      <div class="column col-2">Coordinator</div>
                    <% else %>
                      <div class="column col-2"><%= user.role.capitalize %></div>
                    <% end %>
                    <div class="column col-2"><%= user.created_at.strftime("%m/%d/%Y") %></div>
                    <% if user.invitation_token.nil? %>
                      <div class="column col-1"><a href="<%= edit_user_path user.id %>"><span class="fa fa-pencil"></span></a></div>
                    <% else %>
                      <div class="column col-1"></div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>
