<div class="container-fluid">
  <div class="row">
      <div class="user-form-div">
          <%= form_for @user, url: submit_url do |f| %>
            <%= hidden_field_tag :id, @user.id %>
            <% unless @user.new_record? %>
              <div class="form-row chapter-row">
                <%= f.label :first_name, "First name *" %>
                <%= f.text_field :first_name, autofocus: true, class: "form-control", :maxlength => 50 %>
              </div>
              <div class="form-row chapter-row">
                <%= f.label :last_name, "Last name *" %>
                <%= f.text_field :last_name, class: "form-control", :maxlength => 50 %>
              </div>
              <div class="form-row chapter-row">
                <%= f.label :phone_number, "Phone number *" %>
                <%= f.text_field :phone_number, class: "form-control", :maxlength => 30 %>
              </div>
            <% end %>
            <div class="form-row chapter-row">
                <%= f.label :email, "Email *"%>
                <%= f.email_field :email, class: "form-control", :maxlength => 50 %>
            </div>
            <div class="form-row chapter-row">
                <%= f.label :role, "Role *" %>
                <%= f.select(:role, Role.roles.map {|k, v| [v, k]}, {}, {class: "select form-control"}) %>
            </div>
            <div class="form-row chapter-row">
                <%= f.label :chapter, "Chapter", id: "chapter-label" %>
                <%= f.collection_select :chapter_id, Chapter.order(:name),:id,:name, {include_blank: true}, {class: "form-control"} %>
            </div>
            <div class="form-row options-form-div">
              <%= link_to 'Cancel', admins_index_path, class: "btn cancel-button"%>
              <%= f.submit 'Submit', class: "btn submit-button"%>
            </div>
          <% end %>
      </div>
  </div>
</div>

<script>
  (()=>{
    const role_select = $('#user_role');
    const chapter_select = $('#user_chapter_id');
    const chapter_label = $('#chapter-label');

    role_changed();

    $('select').change(role_changed);

    function role_changed(){
        let selected = role_select.find('option:selected').first()
        if(selected.val() !== 'external'){
            chapter_select.attr('disabled', '');
            chapter_select.val('');
            chapter_label.text("Chapter");
        } else {
            chapter_select.removeAttr('disabled');
            chapter_label.text("Chapter *");
        }
    }
  })();
</script>