<%= form_for @growth_activity do |f| %>
    <%= hidden_field_tag :growth_activity_type , "", id: "training-type-input" %>
    <%= hidden_field_tag :report_date %>
    <div class="form-group">
        <div>
            <%= f.label :event_type, "Event Type *", class: "action-form-label" %><br/>
            <%= f.collection_radio_buttons :event_type, TypeMobilization.types, :first, :second do |b| %>
                <%- b.label(class: "radio-inline action-form-option-button") {b.radio_button + " "+ b.label } %>
            <% end %>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :participants, "Number of People Engaged *", class: "action-form-label", id: "participants_label" %>
            <%= f.text_field :participants, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
      <div>
        <%= f.label :mobilizers_involved, "Number of Mobilizers Involved *", class: "action-form-label" %>
        <%= f.text_field :mobilizers_involved, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10 %>
      </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :new_mobilizer_sign_ons, "Number of New Mobilizer Sign Ons *", class: "action-form-label" %>
            <%= f.text_field :new_mobilizer_sign_ons, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :total_one_time_donations, "$ Total One Time Donations *", class: "action-form-label" %>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <%= f.text_field :total_one_time_donations, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
            </div>
        </div>
    </div>
  <div class="form-group">
    <div>
      <%= f.label :total_donation_subscriptions, "Total Monthly Donor Subscriptions *", class: "action-form-label" %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= f.text_field :total_donation_subscriptions, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
      </div>
    </div>
  </div>
    <div class="form-group">
        <div>
            <%= f.label :donation_subscriptions, "Number of Donor Subscriptions *", class: "action-form-label" %>
            <%= f.text_field :donation_subscriptions, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :arrestable_pledges, "Number of Arrestable Pledges *", class: "action-form-label" %>
            <%= f.text_field :arrestable_pledges, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
    <div class="form-group">
        <div>
            <%= f.label :newsletter_sign_ups, "Number of Newsletter Sign Ups *", class: "action-form-label" %>
            <%= f.text_field :newsletter_sign_ups, class: "form-control action-form-input clearable", placeholder: 'Enter Number', :maxlength => 10%>
        </div>
    </div>
  <div class="form-group">
    <div>
      <%= f.label :identifier, "Identifier (max 50 characters)", class: "action-form-label" %>
      <%= f.text_field :identifier, class: "form-control clearable", placeholder: 'Enter Identifier', :maxlength => 50%>
    </div>
  </div>
    <div class="form-group">
        <div>
            <%= link_to 'Cancel', growth_activities_path, class: "btn cancel-button"%>
            <%= f.submit "Submit Section", class: "btn submit-button"%>
        </div>
        <p class="warning">Cannot undo this action</p>
    </div>
<% end %>


<script>
    var localTime = new Date();
    $('#report_date').val(localTime)
</script>
