<div class="container-fluid">
  <div class="content">
    <div class="text-left col-md-8 show-on-mobile" style="margin-bottom: 20px">
      <%= link_to forms_index_path, :action => 'go', :class => "test-cancel-street-swarm" do %>
        < Back to Report Entry Menu
      <% end %>
    </div>
    <%= render 'layouts/messages', flash: flash %>
    <%= render 'forms/form_header', title: 'Growth Activities',
               subtitle: 'Click on tabs below to complete a form <strong>for each instance</strong> of a ‘Growth Activity’ your chapter completed this week.'.html_safe %>
    <%= render "forms/form", growth_activity: @growth_activity, social_media_blitzing: @social_media_blitzing do |f| %>
      <div class="report-form-body" id="mobilization-form-body">
        <%= render 'growth_activities/form_body' %>
      </div>
      <div class="report-form-body" id="blitz-form-body">
        <%= render 'social_media_blitzings/form_body' %>
      </div>
    <% end %>
    <%= render "forms/form_footer", title: 'Mobilizations' %>
  </div>
</div>
