<div  class="default-background">
  <%= render "users/errors/error_messages", resource: resource %>
  <div class="col-md-4 offset-md-4 user-div">
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
      <div class="data_form_title">Welcome, <%= @user.email %></div>
      <div class="user-new-sub-tittle">* Required</div>
      <%= f.hidden_field :invitation_token, readonly: true %>
      <div class="form-row chapter-row">
        <%= f.label "First name *" %>
        <%= f.text_field :first_name, autofocus: true, class: "form-control", :maxlength => 50 %>
      </div>
      <div class="form-row chapter-row">
        <%= f.label "Last name *" %>
        <%= f.text_field :last_name, class: "form-control", :maxlength => 50 %>
      </div>
      <div class="form-row chapter-row">
        <%= f.label "Phone number *" %>
        <%= f.text_field :phone_number, class: "form-control", :maxlength => 30 %>
      </div>
      <% if f.object.class.require_password_on_accepting %>
        <div class="form-row chapter-row">
          <%= f.label :password, "Password *" %>
          <%= f.password_field :password, class: "form-control", :maxlength => 150 %>
        </div>
        <div class="form-row chapter-row">
          <%= f.label :password_confirmation, "Password confirmation *" %>
          <%= f.password_field :password_confirmation, class: "form-control", :maxlength => 150 %>
        </div>
      <% end %>
      <div class="form-row options-form-div">
        <%= link_to "Cancel", root_path, class: "btn cancel-button" %>
        <%= f.submit "Submit", class: "btn submit-button"%>
      </div>
    <% end %>
  </div>
  <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>