<%= form_for @street_swarm do |f| %>
  <%= hidden_field_tag :type, "", id: "training-type-input" %>
  <div class="form-group">
    <div>
      <%= f.label :xr_members_attended, "# of Participants", class: "action-form-label" %>
      <%= f.text_field :xr_members_attended, class: "form-control action-form-input"%>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.submit "Submit Section", class: "btn action-submit-btn"%>
    </div>
    <p class="warning">Cannot undo this action</p>
  </div>
<% end %>