<%= form_for @street_swarm do |f| %>
  <%= hidden_field_tag :street_swarm_type, "", id: "street-type-input" %>
  <%= hidden_field_tag :report_date, "", id: "swarm-report-date" %>
  <div class="form-group">
    <div>
      <%= f.label :xr_members_attended, "Number of Participants*", class: "action-form-label" %>
      <%= f.text_field :xr_members_attended, class: "form-control action-form-input clearable", placeholder: 'Enter Number'%>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.submit "Submit Section", class: "btn action-submit-btn"%>
      <%= link_to 'Cancel', arrestable_actions_path, class: "btn btn-danger"%>
    </div>
    <p class="warning">Cannot undo this action</p>
  </div>
<% end %>

<script>
    var localTime = new Date();
    $('#swarm-report-date').val(localTime)
</script>
