<div class="default-background">
  <%= render 'layouts/messages', flash: flash %>
  <%= render 'forms/form_header', title: 'Street Swarms', subtitle: 'Click the tab below to complete your form. Repeat if you did more than one Street Swarm.' %>
  <%= render "street_swarms/form" %>
  <img class="half-logo" src="/images/half_circle.png">
  <div class="text-center col-md-8 action-form-finish-container">
    <p>Finish when you want to return to submit the rest of this weeks activites </p>
    <%= link_to forms_index_path, :action => 'go', :class => "btn btn-outline-danger test-cancel-street-swarm" do %>
      Cancel
    <% end %>
    <%= link_to forms_index_path, :action => 'go', :class => "btn submit-btn test-finish-street-swarm" do %>
      Finish Street Swarm
    <% end %>
  </div>
</div>
