<div class="content">
  <%= render 'layouts/messages', flash: flash %>
  <%= render 'forms/form_header', title: 'Street Swarms', subtitle: 'Click the tab below to complete your form.' %>
  <%= render "forms/form", street_swarm: @street_swarm do |f| %>
    <%= render 'street_swarms/form_body' %>
  <% end %>
  <%= render "forms/form_footer", title: 'Street Swarm' %>
</div>
