<div class="container-fluid default-background">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      <p class="write-to">
        Location Spike
      </p>
      <div class="form-row chapter-row">
        <%= label_tag 'country', 'Country' %>
        <%= select_tag :country_code, options_for_select(@countries.collect{ |c| [c.second, c.first] }), {class: "form-control", include_blank: "Countries"} %>
      </div>
      <div class="form-row chapter-row">
        <%= label_tag 'state', 'State/Province' %>
        <%= select_tag :state_code, options_for_select(@states.collect{ |s| [s.second, s.first] }), {class: "form-control", include_blank: "States/Provinces/"} %>
      </div>
      <div class="form-row chapter-row">
        <%= label_tag 'city', 'City' %>
        <%= select_tag :city_code, options_for_select(@cities.collect{ |c| [c.second, c.first] }), {class: "form-control", include_blank: "Cities"} %>
      </div>
    </div>
  </div>
</div>

<script>
  (()=>{

    $('#country_code').change(country_changed);
    $('#state_code').change(state_changed);

    function country_changed(){
      let country_code = $('#country_code').val();
      if(country_code != '') {
        $.ajax({
          url: "/location/states",
          method: "GET",
          dataType: "json",
          data: {country_code: country_code},
          error: function (xhr, status, error) {
            console.error('AJAX Error: ' + status + error);
          },
          success: function (response) {
            var states = response["states"];
            console.log("states");
            console.log(states);
            $("#state_code").empty();
            $("#state_code").append('<option>Select</option>');
            $("#city_code").empty();
            $("#city_code").append('<option>Select</option>');
            for(var i=0; i< states.length; i++){
              $("#state_code").append('<option value="' + states[i][0] + '">' + states[i][1] + '</option>');
            }
          }
        });
      }
    };

    function state_changed(){
      let country_code = $('#country_code').val();
      let state_code = $('#state_code').val();
      if(state_code != '') {
        $.ajax({
          url: "/location/cities",
          method: "GET",
          dataType: "json",
          data: {country_code: country_code, state_code: state_code},
          error: function (xhr, status, error) {
            console.error('AJAX Error: ' + status + error);
          },
          success: function (response) {
            var cities = response["cities"];
            console.log("cities......");
            console.log(cities);
            $("#city_code").empty();
            $("#city_code").append('<option>Select</option>');
            for(var i=0; i< cities.length; i++){
              $("#city_code").append('<option value="' + cities[i] + '">' + cities[i] + '</option>');
            }
          }
        });
      }
    };


  })();
</script>
