<div class="container-fluid">
  <div class="row">
    <% if flash[:errors] %>
      <div class="col-md-4 offset-md-4 alert alert-danger alert-dismissable fade show" role="alert">
        <% flash[:errors].each do |error | %>
          <li><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form_for @chapter do |f| %>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          <%= f.label :name, "Chapter Name:" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          <%= f.label :active_members, "Total Active Members:" %>
          <%= f.text_field :active_members, class: "form-control" %>
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="form-group col-md-4 offset-md-4">
          <%= f.label :total_subscription_amount, "Total Subscription Dollar Amount:" %>
          <%= f.text_field :total_subscription_amount, class: "form-control" %>
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="form-group col-md-4 offset-md-4">
          <%= f.label :description, "Chapter Description:" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <%= f.submit class: "btn btn-success col-md-4  offset-md-4"%>
      </div>
    <% end %>
  </div>
</div>
