<div class="container-fluid">
  <div class="row">
    <% if flash[:errors] %>
      <div class="col-md-4 offset-md-4 alert alert-danger alert-dismissable fade show" role="alert">
        <% flash[:errors].each do |error | %>
          <li><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="chapter-form-body">
    <%= form_for @chapter do |f| %>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          <%= f.label :name, "Chapter Name*" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          <%= f.label :active_members, "# of Members Total*" %>
          <%= f.text_field :active_members, class: "form-control" %>
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="form-group col-md-4 offset-md-4">
          <%= f.label :total_subscription_amount, "$ Total of Subscriptions*" %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <%= f.text_field :total_subscription_amount, class: "form-control" %>
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row ">
        <span class="col-md-4 offset-md-4">Current Chapter Coordinators:</span>
        <div>
          <% @chapter.users.each do | chapter_coordinator | %>
            <ul> <%= chapter_coordinator.first_name %> </ul>
          <% end %>
        </div>
        <%= f.label :users, "Add Coordinators:", class: "col-md-4 offset-md-4"  %>
        <select multiple class="col-md-4 offset-md-4">
          <% @coordinators.each do | coordinator | %>
            <option> <%= coordinator.first_name %> </option>
          <% end %>
        </select>
      </div>
      <div class="form-row chapter-row">
        <%= f.submit class: "btn btn-success col-md-4  offset-md-4"%>
      </div>
      <div class="form-row chapter-row">
        <%= link_to "Go Back", admins_index_path, class: "btn btn-danger col-md-4 offset-md-4" %>
      </div>
    <% end %>
  </div>
</div>
