<div class="container-fluid">
  <% if flash[:errors] %>
    <div class="row">
      <div class="col-md-4 offset-md-4 alert alert-danger alert-dismissable fade show" role="alert">
        <% flash[:errors].each do |error | %>
          <li><%= error %></li>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="chapter-form-body">
    <%= form_for @chapter do |f| %>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          * Required
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          <%= f.label :name, "Chapter Name *" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          <%= f.label :active_members, "# of Members Total *" %>
          <%= f.text_field :active_members, class: "form-control" %>
        </div>
      </div>
      <div class="form-row chapter-row">
        <div class="col-md-4 offset-md-4">
          <%= f.label :total_subscription_amount, "$ Total of Subscriptions *" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <%= f.text_field :total_subscription_amount, class: "form-control" %>
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
      </div>
      <% if @current_coordinators.exists? %>
        <div class="form-row chapter-row">
          <div class="col-md-4 offset-md-4">
            <span>Current Coordinators</span>
            <ul class="list-group">
              <% @current_coordinators.each do | coordinator | %>
              <li class="list-group-item"> <%= coordinator.first_name %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="form-row chapter-row">
        <%= f.submit class: "btn col-md-4 offset-md-4 submit-btn"%>
      </div>
      <div class="form-row chapter-row">
        <%= link_to "Cancel", admins_index_path, class: "btn col-md-4 offset-md-4 cancel-btn" %>
      </div>
    <% end %>
  </div>
</div>
