<div class="default-background">
  <%= render 'layouts/messages', flash: flash %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 outer-box">
        <div class="data_form">
          <div class="data_form_title"><p>Change your password</p></div>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="field data_field">
              <%= f.label :password, "New password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <div class="login_input">
                <i class="fa fa-envelope login_input_icon"></i>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'data_entry email-input' %>
              </div>
            </div>

            <div class="field data_field">
              <%= f.label :password_confirmation, "Confirm new password" %>
              <div class="login_input">
                <i class="fa fa-envelope login_input_icon"></i>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'data_entry email-input' %>
              </div>
            </div>

            <div class="actions login_button_section">
              <%= link_to 'Cancel', '/users/sign_in', class: "btn btn-outline-danger login_button"%>
              <%= f.submit "Save", class: 'btn btn-success login_button' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= image_tag('/images/half_circle.png', class: 'half_login_logo')%>
  </div>
</div>