<div class="default-background">
  <%= render 'layouts/messages', flash: flash %>
  <%= render "users/errors/error_messages", resource: resource %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 outer-box">
        <div class="data_form">
          <div class="data_form_title"><p>Forgot password</p></div>
          <p class="data_form_subtitle">Don't worry, it happens to the best of us.</p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="field data_field">
              <%= f.label :email %>
              <div class="login_input">
                <i class="fa fa-envelope login_input_icon"></i>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", maxlength: 50, class: 'data_entry' %>
              </div>
            </div>
            <div class="actions login_button_section">
              <%= f.submit "Email me a recovery link", class: 'btn submit-button' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= image_tag('/images/half_circle.png', class: 'half_login_logo')%>
  </div>
</div>