<div class="container-fluid default-background reporting">
  <%= render 'layouts/messages', flash: flash %>

  <div class="form-index-header">
    <div class="form-title reporting-header">
      <div>
        <h1 class="form-chapter-name-heading">
          <%= @chapter.name %>
        </h1>
      </div>
      <div class="">
        <div class="">
          <%= render 'layouts/date' %>
        </div>
      </div>

      <div class="">
        <div class="form-index-subhead">
          Click cards below complete each category and build your weekly report.
        </div>
      </div>
    </div>
  </div>

  <div class="reporting-tiles-container">
    <div class="row">
      <%= link_to mobilizations_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <div>
          <p class="tile-title">Growth Activities</p>
          <p class="tile-desc">All activities that help you grow the movement</p>
        </div>
      <% end %>
      <%= link_to trainings_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <div>
          <p class="tile-title">Trainings</p>
          <p class="tile-desc">All activities conducted to develop the movement</p>
        </div>
      <% end %>
      <%= link_to arrestable_actions_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <div>
          <p class="tile-title">Actions</p>
          <p class="tile-desc">All the actions that increase the pressure</p>
        </div>
      <% end %>
    </div>
  </div>

  <%= image_tag('/images/half_circle.png', class: 'half-logo') %>

</div>
