<div class="container-fluid default-background reporting">
  <%= render 'layouts/messages', flash: flash %>

  <div class="form-header">
    <div class="form-title reporting-header">
      <div class="">
        <div class="">
          <span class="title-prefix">Entering report <strong id="reporting-period">CW</strong></span>
        </div>
      </div>

      <div class="">
        <div class="">
          Click to complete for each activity category
          your chapter participated in this week.
        </div>
      </div>
    </div>
  </div>

  <div class="reporting-tiles-container">
    <div class="row">
      <%= link_to mobilizations_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Mobilizations</p>
        <p class="tile-desc">All activities that are recruiting driven</p>
      <% end %>
      <%= link_to trainings_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Trainings</p>
        <p class="tile-desc">All activities conducted for XRA members</p>
      <% end %>
      <%= link_to street_swarms_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Street Swarms</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
      <%= link_to arrestable_actions_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Arrestable Actions</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
      <%= link_to social_media_blitzings_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Social Media Blitzing</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
    </div>
  </div>

  <%= image_tag('/images/half_circle.png', class: 'half-logo') %>

</div>

<script>
    (() => {
        let from = getMonday();
        let to = getSunday();
        set_week(from, to);

        function set_week(fromDate, toDate) {
            let from = `${String(fromDate.getMonth() + 1).padStart(2, '0')}/${String(fromDate.getDate()).padStart(2, '0')}/${fromDate.getFullYear()}`;
            let to = `${String(toDate.getMonth() + 1).padStart(2, '0')}/${String(toDate.getDate()).padStart(2, '0')}/${toDate.getFullYear()}`;
            document.getElementById('reporting-period').innerHTML = `from ${from} to ${to}`;
        }

        function getSunday() {
            let today = new Date(Date.now());
            let sunday= new Date(today.getTime());
            sunday.setDate(today.getDate() + (today.getDay() + (6 - today.getDay())));
            sunday.setHours(23, 59, 59);
            return sunday;
        }

        function getMonday() {
            let today = new Date(Date.now());
            let monday = new Date(today.getTime());
            monday.setDate(today.getDate() - (today.getDay() - 1));
            monday.setHours(0, 0, 0);
            return monday;
        }
    })();
</script>
