<div class="container-fluid default-background reporting">

  <div class="form-title reporting-header">
    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-3 col-md-8 offset-md-2 col-lg-5 offset-lg-2">
        <span class="title-prefix">Entering report <strong id="reporting-period">CW</strong></span>
      </div>
    </div>

    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-3 offset-md-2 offset-lg-2">
        Click to complete for each activity category
        your chapter participated in this week.
      </div>
    </div>
  </div>

  <div class="reporting-tiles-container">
    <div class="row">
      <%= link_to forms_mobilization_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Mobilizations</p>
        <p class="tile-desc">All activities that are recruiting driven</p>
      <% end %>
      <%= link_to forms_training_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Trainings</p>
        <p class="tile-desc">All activities conducted for XRA members</p>
      <% end %>
      <%= link_to forms_street_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Street Swarms</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
      <%= link_to forms_arrestable_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Arrestable Actions</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
      <div class="col-9 col-sm-4 col-md-3 form-tile contrast no-data-tile">
        <p class="tile-title">No New Data This Week</p>
        <p class="tile-desc">Only when there is no activity for your chapter this week</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-9 col-sm-4 col-md-3">
        <%= link_to dashboard_index_path, class: "btn btn-lg", :action => 'go' do %>
          I'm done
        <% end %>
      </div>
    </div>
  </div>

  <%= image_tag('/images/half_circle.png', class: 'half-logo') %>

</div>

<script>
    (() => {
        let from = getLastSaturday();
        let to = getNextFriday();
        set_week(from, to);

        const isReportCompleted = document.cookie.split(';').some((item) => item.trim().startsWith('report_completed='));
        if (isReportCompleted) {
            disableTiles();
        } else {
            $('.reporting .no-data-tile').click(function () {
                setReportCompletedCookie(to);
            });
        }

        function set_week(fromDate, toDate) {
            let from = `${String(fromDate.getMonth()).padStart(2, '0')}/${String(fromDate.getDate()).padStart(2, '0')}/${fromDate.getFullYear()}`;
            let to = `${String(toDate.getMonth()).padStart(2, '0')}/${String(toDate.getDate()).padStart(2, '0')}/${toDate.getFullYear()}`;
            document.getElementById('reporting-period').innerHTML = `from ${from} to ${to}`;
        }

        function getNextFriday() {
            let today = new Date(Date.now());
            let nextFriday = new Date(today.getTime());
            nextFriday.setDate(today.getDate() + (7 + 5 - today.getDay()) % 7);
            nextFriday.setHours(23, 59, 59);
            return nextFriday;
        }

        function getLastSaturday() {
            let today = new Date(Date.now());
            let previousSaturday = new Date(today.getTime());
            previousSaturday.setDate(today.getDate() - (7 - 6 + today.getDay()) % 7);
            previousSaturday.setHours(0, 0, 0);
            return previousSaturday;
        }

        function disableTiles() {
            $('.reporting .form-tile').addClass('disabled');
        }

        function setReportCompletedCookie(expirationDate) {
            let expiration = `;expires=${expirationDate.toUTCString()}`;
            document.cookie = "report_completed=true" + expiration;
            disableTiles();
        }


    })();
</script>