<div class="container-fluid default-background reporting">
  <%= render 'layouts/messages', flash: flash %>

  <div class="form-index-header">
    <div class="form-title reporting-header">
      <div>
        <h1 class="form-chapter-name-heading">
          <%= @chapter.name %>
        </h1>
      </div>
      <div class="">
        <div class="">
          <%= render 'layouts/date' %>
        </div>
      </div>

      <div class="">
        <div class="form-index-subhead">
          Click to complete for each activity category
          your chapter participated in this week.
        </div>
      </div>
    </div>
  </div>

  <div class="reporting-tiles-container">
    <div class="row">
      <%= link_to mobilizations_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Mobilizations</p>
        <p class="tile-desc">All activities that are recruiting driven</p>
      <% end %>
      <%= link_to trainings_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Trainings</p>
        <p class="tile-desc">All activities conducted for members</p>
      <% end %>
      <%= link_to street_swarms_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Street Swarms</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
      <%= link_to arrestable_actions_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Arrestable Actions</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
      <%= link_to social_media_blitzings_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Social Media Blitzing</p>
        <p class="tile-desc">Insert definition of this activity here</p>
      <% end %>
    </div>
  </div>

  <%= image_tag('/images/half_circle.png', class: 'half-logo') %>

</div>
