<div class="report-filter-container" id="sticky-filter-container">
  <div class="row">
    <div id="report-page-breadcrumbs" class="hidden">
      <h5>
        <a href="/reports" id="report-breadcrumb-global">Global</a>
        <span id="report-breadcrumb-country-wrapper" class="hidden">
          <span class="fa fa-angle-right"></span>
          <span id="report-breadcrumb-country">Country</span>
        </span>
        <span id="report-breadcrumb-region-wrapper" class="hidden">
          <span class="fa fa-angle-right"></span>
          <span id="report-breadcrumb-region">Region</span>
        </span>
        <span id="report-breadcrumb-state-wrapper" class="hidden">
          <span class="fa fa-angle-right"></span>
          <span id="report-breadcrumb-state">State</span>
        </span>
        <span id="report-breadcrumb-chapter-wrapper" class="hidden">
          <span class="fa fa-angle-right"></span>
          <span id="report-breadcrumb-chapter">Chapter</span>
        </span>
      </h5>
    </div>
    <div class="report-page-header-right">
      <div>Last <span class="filter-day-count">0</span> days</div>
      <nav class="nav nav-pills nav-justified">
        <a id="filter-week" class="nav-link">1W</a>
        <a id="filter-month" class="nav-link">1M</a>
        <a id="filter-quarter" class="nav-link">3M</a>
        <a id="filter-half-year" class="nav-link">6M</a>
      </nav>
    </div>
  </div>
</div>
<div class="row report-filter-container">
  <div class="report-page-header">
    <h2 id="report-page-title">Global</h2>
    <h2 class="report-page-subtitle">
      <span class="report-page-start-date">30 February 2020</span>
      -
      <span class="report-page-end-date">32 February 2020</span>
    </h2>
  </div>
  <div class="csv-download">
    <% if current_user.role == 'admin' %>
      <%= link_to csv_download_path, target: "_blank", id: "csv-download", class: "btn btn-lg login-button" do %>
        CSV <span class="fa fa-arrow-down"></span>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function initializeBreadcrumbs() {
      const countryNamesMapping = <%= CS.countries.to_json.html_safe %>;
      const regionNamesMapping = <%= Regions.us_regions.to_json.html_safe %>;

      let params = new URL(window.location.href).searchParams;
      let country = params.get('country');
      let state = params.get('state');
      let region = params.get('region');
      let chapter = params.get('chapter');

      if (!country) return;

      if (country) {
          $('#report-page-breadcrumbs').removeClass('hidden');
          showBreadCrumb('country', countryNamesMapping[country]);
          updateReportPageTitle(countryNamesMapping[country]);
      }

      if (region) {
          showBreadCrumb('region', regionNamesMapping[`${region}`]['name']);
          showBreadCrumb('country', `<a href="/reports?country=${country}">${countryNamesMapping[country]}</a>`);
          updateReportPageTitle(regionNamesMapping[`${region}`]['name']);
      }

      if (state && region) {
          showBreadCrumb('region', `<a href="/reports?country=${country}&region=${region}">${regionNamesMapping[`${region}`]['name']}</a>`);
      }

      if (state) {
          showBreadCrumb('state', state);
          updateReportPageTitle(state);
          showBreadCrumb('country', `<a href="/reports?country=${country}">${countryNamesMapping[country]}</a>`);
      }

      if (chapter) {
          showBreadCrumb('chapter', <%= @chapter_name.to_json.html_safe %>);
          updateReportPageTitle(<%= @chapter_name.to_json.html_safe %>);
      }

      if (chapter && region) {
          $('#report-breadcrumb-state').html(`<a href="/reports?country=${country}&region=${region}&state=${encodeURIComponent(state)}">${state}</a>`);
      }

      if (chapter && !region) {
          $('#report-breadcrumb-state').html(`<a href="/reports?country=${country}&state=${encodeURIComponent(state)}">${state}</a>`);
      }
  }

  function showBreadCrumb(type, htmlString) {
      $(`#report-breadcrumb-${type}-wrapper`).removeClass('hidden');
      $(`#report-breadcrumb-${type}`).html(htmlString);
  }

  function updateReportPageTitle(title) {
      $('#report-page-title').html(title);
  }

  initializeBreadcrumbs();

</script>