<header class="header">
  <div class="header-logo">
    <%= link_to image_tag("/images/mob_earth_circle.svg"), root_path %>
  </div>
  <%= render 'layouts/role_based_nav' %>
  <div class="header-right" id="header-right">
    <% if current_user.nil? %>
      <% unless current_page?(new_user_session_url) %>
        <%= link_to new_user_session_path, id: "login_button", class: "btn btn-lg login-button" do %>Log In<% end %>
      <% end %>
    <% else %>
      <div class="dropdown show">
        <a class="dropdown-toggle" href="#" role="button" id="dropdown-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="btn fa fa-user" title="user"></span>
          <span class="name"><%= current_user.full_name %></span>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdown-menu-link">
          <% unless current_user.nil? %>
            <% if current_user.role == 'admin' %>
              <div class="show-on-mobile">
                <%= link_to "Onboarding", admins_root_path, {class: controller_name == 'admins' && action_name == 'index' ? 'selected' : ''} %>
              </div>
            <% end %>

            <% if current_user.role == 'external' %>
              <div class="show-on-mobile">
                <%= link_to "Report Entry", admins_root_path, {class: controller_name == 'forms' && action_name == 'index' ? 'selected' : ''} %>
              </div>
            <% end %>
            <% if current_user.role == 'admin' || current_user.role == 'external' || current_user.role == 'reviewer' %>
              <div class="show-on-mobile">
                <%= link_to "View Reports", reports_path, {class: controller_name == 'reports' && action_name == 'index' ? 'selected' : ''} %>
              </div>
            <% end %>
            <div>
              <%= link_to "Reset Password", edit_user_registration_path %>
            </div>
            <div>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, id: "log-out-link" %>
            </div>
          <%  end %>
        </div>
      </div>
    <% end %>
  </div>
</header>
