<!DOCTYPE html>
<html>
  <head>
    <title>ClimateMovementReportingTool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <%= content_tag :body, data: {action: action_name, controller: controller_name}, class: "site-wrapper" do %>
    <%= render "layouts/header" %>
    <%= yield %>
  <%= render "layouts/footer" %>
  <% end %>
</html>
