<div class="default-background">
  <%= render 'layouts/messages', flash: flash %>
  <div class="container-fluid">
    <%= render "users/errors/error_messages", resource: resource %>
    <div class="row">
      <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 outer-box">
        <div class="data_form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <div class="data_form_title">
              <p>Reset Password</p>
            </div>

            <div class="field data_field">
              <%= f.label :current_password %>
              <div class="login_input">
                <span class="fa fa-key login_input_icon"></span>
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'data_entry' %>
              </div>
            </div>

            <div class="field data_field">
              <%= f.label :password %>
              <div class="login_input">
                <span class="fa fa-key login_input_icon"></span>
              <%= f.password_field :password, autocomplete: "new-password", class: 'data_entry' %>
              </div>
            </div>

            <div class="field data_field">
              <%= f.label :password_confirmation %>
              <div class="login_input">
                <span class="fa fa-key login_input_icon"></span>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'data_entry' %>
              </div>
            </div>

            <div class="actions login_button_section">
              <%= link_to 'Cancel', root_path, class: "btn cancel-button"%>
              <%= f.submit "Save", class: "btn submit-button"%>
            </div>
            <% end %>
        </div>
      </div>
    </div>

    <%= image_tag('/images/half_circle.png', class: 'half_login_logo')%>
  </div>
</div>